@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html body {
  width: 100%;
  height: 100%;
  font-family: 微軟正黑體;
  position: relative;
  overflow: hidden;
}
html body .menu {
  width: 23vw;
  height: 178vw;
  background: #000000b0;
  position: absolute;
  z-index: 99;
  display: none;
}
html body .menu.close {
  display: block;
}
html body .menu .menu-close {
  width: 10vw;
  height: 10vw;
  background: #281600b5;
  border: 1px solid #f2deae;
  float: right;
  text-align: center;
  line-height: 10vw;
  color: #f2deae;
  font-size: 6vw;
}
html body .menu .menu-colorBox {
  width: 15vw;
  height: 134vw;
  margin: 15vw 0px 0px 4vw;
  position: absolute;
}
html body .menu .menu-colorBox .color {
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  margin: 3vw auto;
}
html body .menu .menu-colorBox .color1 {
  background: #dca246;
}
html body .menu .menu-colorBox .color2 {
  background: #f05a00;
}
html body .menu .menu-colorBox .color3 {
  background: #2ecfdd;
}
html body .menu .menu-colorBox .color4 {
  background: red;
}
html body .menu .menu-colorBox .color5 {
  background: greenyellow;
}
html body .menu .menu-colorBox .color6 {
  background: blue;
}
html body .menu .menu-colorBox .color7 {
  background: wheat;
}
html body .menu .menu-colorBox .color8 {
  background: palevioletred;
}
html body header {
  width: 100%;
  height: 79vw;
}
html body header .top {
  width: 100%;
  height: 10vw;
  background: #ff6c2a;
  position: relative;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 2px 2px 4px #00000078;
          box-shadow: 2px 2px 4px #00000078;
}
html body header .top .hamburger {
  width: 7vw;
  height: 7vw;
  position: absolute;
  margin: 1.5vw 0 0 3vw;
}
html body header .top .hamburger span {
  width: 6vw;
  height: 0.9vw;
  background: #ffffff;
  position: relative;
  margin: 0.9vw auto;
  display: block;
}
html body header .top .logo {
  width: 16vw;
  height: 4vw;
  background: url(../img/logo_Orange.png) no-repeat;
  background-size: 100%;
  position: absolute;
  padding-top: 10px;
  margin: 3vw 0 0 41vw;
}
html body header .top .message {
  width: 5vw;
  height: 8vw;
  background: url(../img/message_Orange.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 2.5vw 0 0 90vw;
}
html body header .banner {
  width: 90%;
  height: 40vw;
  margin: auto;
  margin-top: 2.5vw;
  padding: 0;
  position: relative;
}
html body header .banner .swiper {
  width: 100%;
  height: 42vw;
}
html body header .banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
html body header .banner .swiper-horizontal > .swiper-pagination-bullets, html body header .banner .swiper-pagination-bullets.swiper-pagination-horizontal, html body header .banner .swiper-pagination-custom, html body header .banner .swiper-pagination-fraction {
  bottom: 16px;
}
html body header .banner .swiper-pagination-bullet {
  background: #009dac;
  outline: none;
}
html body header .banner .swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: url(../img/banner-Orange.png) no-repeat;
  background-size: 100%;
}
html body header .news-box {
  width: 100%;
  height: 8vw;
  overflow: hidden;
}
html body header .news-box .news {
  width: 68vw;
  height: 5vw;
  background: #fff;
  border: 1px solid #ffa729;
  border-radius: 50px;
  margin: 6px 0 0px 22px;
  position: absolute;
  -webkit-box-shadow: 0px 2px 4px #0000003d;
          box-shadow: 0px 2px 4px #0000003d;
}
html body header .news-box .news .news-icon {
  width: 5vw;
  height: 5vw;
  background: url(../img/news-Green-icon.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 2px 0 0 5px;
}
html body header .news-box .news marquee {
  width: 60vw;
  font-size: 14px;
  padding-top: 3px;
  color: #1a1a1a;
  margin-left: 30px;
}
@media screen and (max-width: 320px) {
  html body header .news-box .news marquee {
    font-size: 12px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding-top: 2px;
  }
}
html body header .news-box .pe-live {
  width: 18vw;
  height: 5vw;
  background: -webkit-gradient(linear, left top, right top, from(#3aefff), to(#007874));
  background: linear-gradient(to right, #3aefff 0%, #007874 100%);
  border-radius: 5px;
  border: 1px solid #2ae2ef;
  position: absolute;
  margin-left: 77vw;
  margin-top: 1vw;
}
html body header .news-box .pe-live .pe-live-icon {
  width: 3vw;
  height: 5vw;
  background: url(../img/hot.png) no-repeat;
  background-size: 100%;
  position: absolute;
  float: left;
  margin: 2px 0 0 3px;
}
html body header .news-box .pe-live div {
  font-size: 2vw;
  -webkit-transform: scale(0.89);
          transform: scale(0.89);
  color: #fff;
  letter-spacing: 1px;
  line-height: 5vw;
  float: right;
  margin-right: 2px;
}
@media screen and (max-width: 320px) {
  html body header .news-box .pe-live .pe-live-icon {
    display: none;
  }
}
html body header .user-box {
  width: 100%;
  height: 18vw;
}
html body header .user-box .left {
  width: 30vw;
  height: 15vw;
  margin-left: 5vw;
  position: absolute;
  margin-top: 2.5vw;
  float: left;
}
html body header .user-box .left .left-top {
  width: 100%;
  height: 6vw;
}
html body header .user-box .left .left-top .user {
  color: #ffffff;
  position: absolute;
  letter-spacing: 1px;
  font-size: 3.5vw;
}
html body header .user-box .left .left-top .vip0 {
  width: 11.3vw;
  height: 5vw;
  background: url(../img/vip0_Green.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 0px 0 0 17.5vw;
}
html body header .user-box .left .left-bottom {
  width: 100%;
  height: 9vw;
}
html body header .user-box .left .left-bottom span {
  font-size: 5vw;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff9cf;
  line-height: 7vw;
}
html body header .user-box .left .left-bottom div {
  width: 3.5vw;
  height: 3.5vw;
  font-size: 2vw;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #cacaca;
  color: #cacaca;
  margin: -5.5vw 0 0 25vw;
  text-align: center;
}
@media screen and (max-width: 320px) {
  html body header .user-box .left .left-bottom div {
    width: 4vw;
    height: 4vw;
    border: 1px solid #979797;
  }
}
html body header .user-box .right {
  width: 47vw;
  height: 18vw;
  float: right;
  margin-right: 5vw;
}
html body header .user-box .right ul {
  width: 100%;
  height: 18vw;
}
html body header .user-box .right ul li {
  width: 10vw;
  height: 14vw;
  display: inline-block;
  margin-top: 2vw;
}
html body header .user-box .right ul li .img {
  width: 7.2vw;
  height: 9vw;
  background: url(../img/user-icon-Green.png) no-repeat;
}
html body header .user-box .right ul li .out {
  background-position-x: calc(100% + 53px);
}
html body header .user-box .right ul li .sale {
  background-position-x: calc(100% + 26px);
}
html body header .user-box .right ul li .score {
  margin-left: 2vw;
  background-position-x: calc(100% - 1px);
}
html body header .user-box .right ul li .text {
  position: absolute;
  font-size: 3.5vw;
  color: #ffffff;
  font-weight: bold;
}
@media screen and (max-width: 414px) {
  html body header .user-box .right ul li .img {
    width: 6.5vw;
    height: 7vw;
  }
}
@media screen and (max-width: 375px) {
  html body header .user-box .right ul li .img {
    width: 7.5vw;
    height: 8vw;
  }
}
@media screen and (max-width: 360px) {
  html body header .user-box .right ul li .img {
    width: 7.5vw;
    height: 9vw;
  }
}
@media screen and (max-width: 320px) {
  html body header .user-box .right ul li .img {
    width: 8.9vw;
    height: 9vw;
  }
  html body header .user-box .right ul li .text {
    font-size: 2vw;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
html body main {
  width: 100%;
  height: 150vw;
  overflow: scroll;
}
html body main .main-left {
  width: 16vw;
  height: 100vw;
  float: left;
  margin-left: 5vw;
}
html body main .main-left .main-left-shadwo {
  width: 12.5vw;
  height: 22.5vw;
  border-radius: 10px 10px 8px 8px;
  background: -webkit-gradient(linear, left top, right top, from(#b93e02), color-stop(57%, #ffece4), color-stop(74%, #ff9c5a), color-stop(94%, #b83d02), to(#b93e02));
  background: linear-gradient(to right, #b93e02 0%, #ffece4 57%, #ff9c5a 74%, #b83d02 94%, #b93e02 100%);
  -webkit-box-shadow: 0px 2px 4px #232323;
          box-shadow: 0px 2px 4px #232323;
}
html body main .main-left .main-left-shadwo .main-left-btn-1 {
  width: 12vw;
  height: 21vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffcaa7), color-stop(40%, #ff6e16), to(#a13200));
  background: linear-gradient(to bottom, #ffcaa7 0%, #ff6e16 40%, #a13200 100%);
  border-radius: 8px;
  border: 1px solid #ffb052;
  margin-top: 1.8vw;
}
html body main .main-left .main-left-shadwo .main-left-btn-1 .text {
  width: 9vw;
  height: 10vw;
  color: #ffffff;
  font-weight: bold;
  margin: auto;
  margin-top: 6vw;
  font-size: 3.2vw;
  letter-spacing: 1px;
  padding-top: 1px;
  text-align: center;
}
html body main .main-left .main-left-shadwo .main-left-btn-1 .text div {
  padding-top: 3px;
}
html body main .main-left .main-left-btn {
  width: 12vw;
  height: 21vw;
  background: -webkit-gradient(linear, left bottom, left top, from(#caa574), color-stop(0%, #b0b0b0), color-stop(34%, #ffffff), color-stop(54%, #f7f7f7));
  background: linear-gradient(to top, #caa574 0%, #b0b0b0 0%, #ffffff 34%, #f7f7f7 54%);
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-top: 1.8vw;
  -webkit-box-shadow: 0px 2px 3px #232323;
          box-shadow: 0px 2px 3px #232323;
  font-weight: bold;
}
html body main .main-left .main-left-btn .text {
  width: 8vw;
  height: 10vw;
  color: #3d3d3d;
  margin: auto;
  margin-top: 6vw;
  font-size: 3.2vw;
  letter-spacing: 0.5px;
  padding-top: 1px;
  text-align: center;
}
html body main .main-left .main-left-btn .text div {
  color: #ff6f19;
  font-weight: bolder;
  font-size: 4vw;
  padding-top: 0.8vw;
}
html body main .main-right {
  width: 70vw;
  height: 180vw;
  float: right;
  margin-right: 5vw;
}
html body main .main-right .right-box {
  width: 100%;
  height: 24vw;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 2.6vw;
  -webkit-box-shadow: 1px 2px 3px #1913088a;
          box-shadow: 1px 2px 3px #1913088a;
  position: relative;
}
html body main .main-right .right-box .triangle {
  width: 10vw;
  height: 10vw;
  background: url(../img/triangle_Orange.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: -3px 0 0 -3px;
}
html body main .main-right .right-box .triangle-2 {
  width: 10vw;
  height: 10vw;
  background: url(../img/triangle-2_Orange.png) no-repeat;
  background-size: 100%;
  position: absolute;
  margin: 14.4vw 0 0 60.4vw;
}
html body main .main-right .right-box .left {
  width: 26vw;
  height: 24vw;
  float: left;
  margin-left: 1vw;
}
html body main .main-right .right-box .left .circle {
  position: relative;
  z-index: 1;
  width: 73px;
  height: 74px;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  margin-top: 3.5vw;
}
html body main .main-right .right-box .left .circle div {
  margin-top: 2vw;
  font-size: 1vw;
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
  font-weight: bold;
  color: #b33700;
}
html body main .main-right .right-box .left .circle .number {
  margin-top: 1vw;
  font-size: 4.5vw;
  color: #4b4b4b;
  font-weight: bold;
}
html body main .main-right .right-box .left ::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(40%, #dadada), color-stop(30%, #ff6c2a), color-stop(60%, #ff865f), to(#ffae1b));
  background: linear-gradient(to bottom right, #dadada 40%, #ff6c2a 30%, #ff865f 60%, #ffae1b 100%);
  /* 径向渐变中的 30px 计算方法为 (宽度 / 2 - 边框大小)，此处为 80px / 2 - 10px */
  mask-image: radial-gradient(transparent 0 29px, #000 31px);
  -webkit-mask-image: radial-gradient(transparent 0 29px, #000 31px);
}
@media screen and (max-width: 360px) {
  html body main .main-right .right-box .left .circle {
    margin-top: 2vw;
  }
}
@media screen and (max-width: 375px) {
  html body main .main-right .right-box .left .circle {
    margin-top: 1.8vw;
  }
}
@media screen and (max-width: 320px) {
  html body main .main-right .right-box .left .circle {
    width: 70px;
    height: 66px;
    margin-top: 2.2vw;
  }
  html body main .main-right .right-box .left .circle div {
    -webkit-transform: scale(0.88);
            transform: scale(0.88);
  }
  html body main .main-right .right-box .left .circle .number {
    font-size: 4.8vw;
  }
}
html body main .main-right .right-box .right {
  width: 43vw;
  height: 24vw;
  float: right;
}
html body main .main-right .right-box .right .date {
  font-size: 2vw;
  -webkit-transform: scale(0.83, 0.83);
          transform: scale(0.83, 0.83);
  position: absolute;
  margin-left: -3vw;
  margin-top: 1vw;
  color: #656565;
}
html body main .main-right .right-box .right .no {
  font-size: 2vw;
  -webkit-transform: scale(0.83, 0.83);
          transform: scale(0.83, 0.83);
  position: absolute;
  color: #ca4628;
  margin-left: 28vw;
  margin-top: 1vw;
}
html body main .main-right .right-box .right .main-textBox {
  width: 41vw;
  height: 6vw;
  margin: 10vw 0 0 -1vw;
  display: -webkit-inline-box;
}
html body main .main-right .right-box .right .main-textBox div {
  color: #190800;
  font-size: 4.2vw;
  font-weight: bolder;
}
html body main .main-right .right-box .right .main-textBox .import {
  color: #cb1667;
  font-size: 3.8vw;
}
html body main .main-right .right-box .right .main-textBox .vs {
  color: #5f5f5f;
  font-size: 3.5vw;
  line-height: 4vw;
}
html body main .main-right .right-box .right .team {
  width: 11.3vw;
  height: 5vw;
  margin: 2vw 0 0 77px;
  position: absolute;
  color: #1fac8e;
  font-size: 3.6vw;
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  html body main .main-right .right-box .right .date {
    margin-left: -5vw;
  }
  html body main .main-right .right-box .right .no {
    margin-left: 25vw;
  }
}
html body ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
html body ::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #cacaca;
}
html body ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #fff;
}
html body footer {
  width: 100%;
  height: 19vw;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
html body footer .close-close {
  width: 12vw;
  height: 5vw;
  position: absolute;
  margin: 2vw 0 0 84vw;
}
html body footer .footer-bar {
  width: 100%;
  height: 19vw;
  background: url(../img/footer_Orange.png) no-repeat;
  background-size: 100%;
}
html body footer .footer-bar .close {
  width: 10.3vw;
  height: 5vw;
  margin-top: 3.2vw;
  margin-right: 5vw;
  float: right;
}
html body footer .footer-bar .close .close-text {
  color: #1b1a1a;
  float: right;
  font-size: 2vw;
}
html body footer .footer-bar .close .close-text.active {
  display: none;
}
html body footer .footer-bar .close .close-text-2 {
  color: #ffffff;
  float: right;
  font-size: 2vw;
  display: none;
}
html body footer .footer-bar .close .close-text-2.active {
  display: block;
}
html body footer .footer-bar .close .close-img {
  width: 2.8vw;
  height: 3vw;
  background: url(../img/arrow-Green.png) no-repeat;
  background-size: 100%;
  float: left;
}
html body footer .footer-bar .close .close-img.scale {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 320px) {
  html body footer .footer-bar .close .close-text {
    -webkit-transform: scale(0.83);
            transform: scale(0.83);
    font-size: 2vw;
  }
}
html body footer .footer-bar ul {
  width: 91vw;
  height: 11vw;
  position: absolute;
  margin-left: 5vw;
  margin-top: 7.2vw;
}
html body footer .footer-bar ul li {
  width: 16vw;
  height: 11.7vw;
  display: inline-block;
  margin-left: 1vw;
  border-radius: 8px 8px 0 0;
}
html body footer .footer-bar ul li:hover .footer-icon, html body footer .footer-bar ul li:active .footer-icon, html body footer .footer-bar ul li.active .footer-icon {
  background-position-y: calc(100% - 2px);
}
html body footer .footer-bar ul li:hover .footer-text, html body footer .footer-bar ul li:active .footer-text, html body footer .footer-bar ul li.active .footer-text {
  color: #ffffff;
}
html body footer .footer-bar ul li .footer-icon {
  width: 7vw;
  height: 7.5vw;
  background: url(../img/footer-icon-Green.png) no-repeat;
  margin: auto;
}
html body footer .footer-bar ul li .home {
  background-position-x: calc(100% + 110px);
}
html body footer .footer-bar ul li .market {
  background-position-x: calc(100% + 85px);
}
html body footer .footer-bar ul li .detail {
  background-position-x: calc(100% + 55px);
}
html body footer .footer-bar ul li .history {
  background-position-x: calc(100% + 25px);
}
html body footer .footer-bar ul li .me {
  background-position-x: calc(100% - 2px);
}
html body footer .footer-bar ul li .footer-text {
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 360px) {
  html body footer .footer-bar ul li .footer-text {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    font-size: 2vw;
  }
  html body footer .footer-bar ul li .footer-icon {
    width: 51%;
    height: 62%;
  }
}
html body footer .footer-bar.display {
  margin-top: 11.5vw;
}
html body .bg {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-Orange.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}