html body {
    width: 100%;
    height: 100%;
    font-family: 微軟正黑體;
    position: relative;
    overflow: hidden;

    header {
        width: 100%;
        height: 79vw;
        
        .top {
            width: 100%;
            height: 10vw;
            background: #281600;
            position: relative;
            border-radius: 0 0 20px 20px;
            box-shadow: 2px 2px 4px #00000078;

            .hamburger {
                width: 5vw;
                height: 7vw;
                background: url(../img/hamburger.png)no-repeat;
                background-size: 100%;
                position: absolute;
                margin: 2.5vw 0 0 4vw;

                .menu {
                    width: 24vw;
                    height: 178vw;
                    background: #000000db;
                    position: relative;
                    z-index: 99;
                    margin-left: -4vw;
                    margin-top: -2.5vw;
                    display: none;

                    &.display {
                        display: block;
                    }

                    .menu-close {
                        width: 10vw;
                        height: 10vw;
                        background: #281600b5;
                        border: 1px solid #f2deae;
                        float: right;
                        text-align: center;
                        line-height: 10vw;
                        color: #f2deae;
                        font-size: 6vw;
                    }

                    .menu-colorBox {
                        width: 15vw;
                        height: 134vw;
                        margin: 15vw 0px 0px 4vw;
                        position: absolute;

                        .color {
                            width: 9vw;
                            height: 9vw;
                            border-radius: 50%;
                            margin: 3vw auto;
                        }

                        .color1 {
                            background: #dca246;
                        }

                        .color2 {
                            background: #f05a00;
                        }

                        .color3 {
                            background: #2ecfdd;
                        }

                        .color4 {
                            background: red;
                        }

                        .color5 {
                            background: greenyellow;
                        }

                        .color6 {
                            background: blue;
                        }

                        .color7 {
                            background: wheat;
                        }

                        .color8 {
                            background: palevioletred;
                        }
                    }
                }
            }

            .logo{
                width: 16vw;
                height: 4vw;
                background: url(../img/logo.png)no-repeat;
                background-size: 100%;
                position: absolute;
                padding-top: 10px;
                margin: 3vw 0 0 41vw;
            }

            .message {
                width: 5vw;
                height: 8vw;
                background: url(../img/message.png) no-repeat;
                background-size: 100%;
                position: absolute;
                margin: 2.5vw 0 0 90vw;
            }
        }   
        
        .banner {
            width: 90%;
            height: 40vw;
            margin: auto;
            margin-top: 2.5vw;
            padding: 0;
            position: relative;

            .swiper {
                width: 100%;
                height: 42vw;
            }

              .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                height: 100%;
        
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
              }

            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
                bottom: 16px;
            }

            .swiper-pagination-bullet {
                background: #9b5b35;
                outline: none;
            }

            .swiper-slide {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: url(../img/banner.png)no-repeat;
            background-size: 100%;
            }
        }

        .news-box {
            width: 100%;
            height: 8vw;
            overflow: hidden;
            // background: olivedrab;

            .news {
                width: 68vw;
                height: 5vw;
                background: #fff;
                border-radius: 50px;
                margin: 6px 0 0px 22px;
                position: absolute;
                box-shadow: 0px 2px 4px #00000075;

                .news-icon {
                    width: 5vw;
                    height: 5vw;
                    background: url(../img/news-icon.png) no-repeat;
                    background-size: 100%;
                    position: absolute;
                    margin: 2px 0 0 5px;
                }

                marquee {
                    width: 60vw;
                    font-size: 14px;
                    padding-top: 3px;
                    color: #311700;
                    margin-left: 30px;
                }

                @media screen and (max-width: 320px) {
                    marquee {
                       font-size: 12px;
                       transform: scale(0.9);
                       padding-top: 2px;
                    }
                }
            }

            .pe-live {
                width: 18vw;
                height: 5vw;
                background: linear-gradient(to right,#2ecfdd 0%,#0c5986 100%);
                border-radius: 5px;
                border: 1px solid #35e0fa;
                position: absolute;
                margin-left: 77vw;
                margin-top: 1vw;

                .pe-live-icon {
                    width: 3vw;
                    height: 5vw;
                    background: url(../img/hot.png) no-repeat;
                    background-size: 100%;
                    position: absolute;
                    float: left;
                    margin: 2px 0 0 3px;
                }

                div {
                    font-size: 2vw;
                    transform: scale(0.89);
                    color: #fff;
                    letter-spacing: 1px;
                    line-height: 5vw;
                    float: right;
                    margin-right: 2px;
                }

                @media screen and (max-width: 320px) {
                    .pe-live-icon {
                        display: none;
                    }
                }
            }
        }

        .user-box {
            width: 100%;
            height: 18vw;

            .left {
                width: 30vw;
                height: 15vw;
                margin-left: 5vw;
                position: absolute;
                margin-top: 2.5vw;
                float: left;

                .left-top {
                    width: 100%;
                    height: 6vw;

                    .user {
                        color: #fffe30;
                        position: absolute;
                        letter-spacing: 1px;
                        font-size: 3.5vw;
                    }

                    .vip0 {
                        width: 11.3vw;
                        height: 5vw;
                        background: url(../img/vip0.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        margin: 0px 0 0 73px;
                    }
                }

                .left-bottom {
                    width: 100%;
                    height: 9vw;

                    span {
                        font-size: 5vw;
                        font-weight: bold;
                        letter-spacing: 1px;
                        color: #fff;
                        line-height: 7vw;
                    }

                    div {
                        width: 3.5vw;
                        height: 3.5vw;
                        font-size: 2vw;
                        position: absolute;
                        border-radius: 50%;
                        border: 2px solid #fffe30;
                        color: #fffe30;
                        margin: -5.5vw 0 0 25vw;
                        text-align: center;
                    }

                    @media screen and (max-width: 320px) {
                       div {
                        width: 4vw;
                        height: 4vw;
                        border: 1px solid #fffe30;
                       }
                    }
                }
            }

            .right {
                width: 47vw;
                height: 18vw;
                float: right;
                margin-right: 5vw;
                
                ul {
                    width: 100%;
                    height: 18vw;

                    li {
                        width: 10vw;
                        height: 14vw;
                        display: inline-block;
                        margin-top: 2vw;

                        .img {
                            width: 7.2vw;
                            height: 9vw;
                            background: url(../img/user-icon.png) no-repeat;
                        }

                        .out {
                            background-position-x: calc(100% + 54px);
                        }
                        .sale {
                            background-position-x: calc(100% + 26px);
                        }
                        .score {
                            margin-left: 2vw;
                            background-position-x: calc(100% - 1px);
                        }

                        .text {
                            position: absolute;
                            font-size: 3.5vw;
                            color: #fef4d7;
                            font-weight: bold;
                        }

                        @media screen and (max-width: 414px) {
                            .img {
                             width: 6.5vw;
                             height: 7vw;
                            }
                        }

                        @media screen and (max-width: 375px) {
                            .img {
                             width: 7.5vw;
                             height: 8vw;
                            }
                        }

                        @media screen and (max-width: 360px) {
                            .img {
                             width: 7.5vw;
                             height: 9vw;
                            }
                        }

                        @media screen and (max-width: 320px) {
                            .img {
                             width: 8.9vw;
                             height: 9vw;
                            }

                            .text {
                                font-size: 2vw;
                                transform: scale(0.9);
                            }
                         }
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        height: 150vw;
        overflow: scroll;
        
        .main-left {
            width: 16vw;
            height: 100vw;
            float: left;
            margin-left: 5vw;

            .main-left-shadwo {
                width: 12.5vw;
                height: 22vw;
                border-radius: 10px 10px 8px 8px;
                background: linear-gradient(to right, #fcf4db 1%,#fff1c9 43%,#ddcb9f 75%,#fff8e0 100%);

                .main-left-btn-1 {
                    width: 12vw;
                    height: 21vw;
                    background: #301a00;
                    border-radius: 8px;
                    border: 1px solid #fff2ca;
                    margin-top: 1.8vw;
    
                    .text {
                        width: 9vw;
                        height: 10vw;
                        color: #fff7de;
                        margin: auto;
                        margin-top: 6vw;
                        font-size: 3.2vw;
                        letter-spacing: 1px;
                        padding-top: 1px;
                        text-align: center;

                        div {
                            padding-top: 3px;
                        }
                    }
                }
            }

            .main-left-btn {
                width: 12vw;
                height: 21vw;
                background: linear-gradient(to right, #fff7dd 0%,#fff4ca 69%,#ddcb9f 100%);
                border-radius: 10px;
                border: 1px solid #fdf4d9;
                margin-top: 1.8vw;
                box-shadow: 0px 2px 3px #1913087a;
                font-weight: bold;

                .text {
                    width: 8vw;
                    height: 10vw;
                    color: #291300;
                    margin: auto;
                    margin-top: 6vw;
                    font-size: 3.2vw;
                    letter-spacing: 0.5px;
                    padding-top: 1px;
                    text-align: center;

                    div {
                        color: #633d00;
                        font-weight: bolder;
                        font-size: 4vw;
                        padding-top: 0.8vw;
                    }
                }
            }
        }

        .main-right {
            width: 70vw;
            height: 180vw;
            float: right;
            margin-right: 5vw;

            .right-box {
                width: 100%;
                height: 24vw;
                background: linear-gradient(to right, #fffbee 0%, #fffae4 55%, #f2deae 100%);
                border-radius: 10px;
                margin-bottom: 2.6vw;
                box-shadow: 1px 2px 3px #1913088a;
                position: relative;

                .triangle {
                    width: 10vw;
                    height: 10vw;
                    background: url(../img/triangle.png) no-repeat;
                    background-size: 100%;
                    position: absolute;
                    margin: -3px 0 0 -3px;
                }

                .triangle-2 {
                    width: 10vw;
                    height: 10vw;
                    background: url(../img/triangle-2.png) no-repeat;
                    background-size: 100%;
                    position: absolute;
                    margin: 14.5vw 0 0 60.5vw;
                }

                .left {
                    width: 26vw;
                    height: 24vw;
                    float: left;
                    margin-left: 1vw;

                    .circle {
                        position: relative;
                        z-index: 1;
                        width: 73px;
                        height: 74px;
                        text-align: center;
                        padding: 10px;
                        box-sizing: border-box;
                        margin: auto;
                        margin-top: 3.5vw;

                        div {
                            margin-top: 2vw;
                            font-size: 1vw;
                            transform: scale(0.9,0.9);
                            font-weight: bold;
                            color: #0a0a0a;
                        }

                        .number {
                            margin-top: 1vw;
                            font-size: 4.5vw;
                            color: #291700;
                            font-weight: bold;
                        }
                    }

                    ::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: linear-gradient(to bottom right,#e1d2ae 40%, #281600 30%,#672e00 60%,#e0a930  100%);
                        /* 径向渐变中的 30px 计算方法为 (宽度 / 2 - 边框大小)，此处为 80px / 2 - 10px */
                        mask-image: radial-gradient(transparent 0 29px, #000 31px);
                        -webkit-mask-image: radial-gradient(transparent 0 29px, #000 31px);
                    }

                    @media screen and (max-width: 360px) {
                        .circle {
                           margin-top: 2vw;
                        }
                    }

                    @media screen and (max-width: 375px) {
                        .circle {
                           margin-top: 1.8vw;
                        }
                    }

                    @media screen and (max-width: 320px) {
                        .circle {
                            width: 70px;
                            height: 66px;
                            margin-top: 2.2vw;

                            div {
                                transform: scale(0.88);
                            }

                            .number {
                                font-size: 4.8vw;
                             }
                        }
                    }
                }

                .right {
                    width: 43vw;
                    height: 24vw;
                    float: right;

                    .date {
                        font-size: 2vw;
                        transform: scale(0.83,0.83);
                        position: absolute;
                        margin-left: -3vw;
                        margin-top: 1vw;
                        color: #8b443a;
                    }

                    .no {
                        font-size: 2vw;
                        transform: scale(0.83,0.83);
                        position: absolute;
                        color: #643612;
                        margin-left: 28vw;
                        margin-top: 1vw;
                    }

                    .main-textBox {
                        width: 41vw;
                        height: 6vw;
                        margin: 10vw 0 0 -1vw;
                        display: -webkit-inline-box;

                        div {
                            color: #1d1000;
                            font-size: 4.2vw;
                            font-weight: bolder;
                        }

                        .import {
                            color: #7f5b00;
                            font-size: 3.8vw;
                        }

                        .vs {
                            color: #034aaa;
                            font-size: 3.5vw;
                            line-height: 4vw;
                        }
                    }

                    .team {
                        width: 11.3vw;
                        height: 5vw;
                        margin: 2vw 0 0 77px;
                        position: absolute;
                        color: #f05a00;
                        font-size: 3.6vw;
                        font-weight: bold;

                    }

                    @media screen and (max-width: 320px) {
                        .date {
                            margin-left: -5vw;
                        }

                        .no {
                            margin-left: 25vw;
                        }
                     }
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 3px;
        background: #7f5b00;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #e3b476;
    }

    footer {
        width: 100%;
        height: 19vw;
        position: fixed;
        bottom: 0;
        z-index: 100;

        .close-close {
            width: 12vw;
            height: 5vw;
            position: absolute;
            margin: 2vw 0 0 84vw;
        }

        .footer-bar {
            width: 100%;
            height: 19vw;
            background: url(../img/footer.png) no-repeat;
            background-size: 100%;

            .close {
                width: 10.3vw;
                height: 5vw;
                margin-top: 3.2vw;
                margin-right: 5vw;
                float: right;

                .close-text {
                    color: #fffd3f;
                    float: right; 
                    font-size: 2vw;

                    &.active {
                        display: none;
                    }
                }

                .close-text-2 {
                    color: #fffd3f;
                    float: right; 
                    font-size: 2vw;
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                .close-img {
                    width: 2.8vw;
                    height: 3vw;
                    background: url(../img/arrow.png) no-repeat;
                    background-size: 100%;
                    float: left;

                    &.scale {
                        transform: rotate(180deg);
                    }
                }

                @media screen and (max-width: 320px) {
                    .close-text {
                        transform: scale(0.83);
                        font-size: 2vw;
                    }
                 }
            }

            ul {
                width: 91vw;
                height: 11vw;
                position: absolute;
                margin-left: 5vw;
                margin-top: 7.2vw;

                li {
                    width: 16vw;
                    height: 11.7vw;
                    display: inline-block;
                    margin-left: 1vw;
                    border-radius: 8px 8px 0 0;

                    &:hover,&:active,&.active {
                        background: linear-gradient(to top,#ffe2a7 0%,#e3b476 40%,#753200 100%);
                        
                        .footer-icon {
                            background-position-y: calc(100% - 2px);
                        }

                        .footer-text {
                            color: #281600;
                        }
                    }

                    .footer-icon {
                        width: 7vw;
                        height: 7.5vw;
                        background: url(../img/footer-icon.png) no-repeat;
                        margin: auto;
                    }

                    .home {
                        background-position-x:  calc(100% + 110px);
                    }

                    .market {
                        background-position-x:  calc(100% + 85px);
                    }

                    .detail {
                        background-position-x:  calc(100% + 55px);
                    }

                    .history {
                        background-position-x:  calc(100% + 25px);
                    }

                    .me {
                        background-position-x:  calc(100% - 2px);
                    }

                    .footer-text {
                        font-size: 2vw;
                        color: #ffe2a6;
                        text-align: center;
                    }

                    @media screen and (max-width: 360px) {
                        .footer-text {
                            transform: scale(0.9);
                            font-size: 2vw;
                        }

                        .footer-icon {
                            width: 51%;
                            height: 62%;
                        }
                     }
                }
            }

            &.display {
                margin-top: 11.5vw;
            }
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        background-image: url(../img/bg.png);
        background-repeat: no-repeat;
        background-color: #7c4627;
        background-size: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
    }
}